body {
  width: 85%;
  height: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url(./images/single-bookshelf.jpg);
  background-size: 100%;
 }
#get-form {
   display: block;
   height: 60px;
   width: 200px;
   margin: auto;
   background: #336600;
   border: 2px solid;
   text-align: center;
   font: bold .9em/60px "Comic Sans MS", cursive, sans-serif;
   border-radius: 25px;
   box-shadow:  0 4px 0 #003300;
 }
 #book-form input, form button {
   background-color: #E5D8BD;
 }

.main-container {
  text-align: center;
 }
::-webkit-input-placeholder { text-align: center; }
::-moz-placeholder { text-align: center; } /* firefox 19+ */
:-ms-input-placeholder { text-align: center; } /* ie */
input:-moz-placeholder { text-align: center; }

.form-container {
  margin-top: 1em;
  text-align: center;
 }

.column {
  width: 33%;
  float: left;
  font-size: large;
 }

li {
   list-style: none;
 }
 .nonfiction, .mystery-fiction, .other-fiction {
 }
