<p class="slider"><button id="get-form">I finished another book!</button></p>
<div class="form-container">
  <form id="book-form" action="/books" method="POST">
    <p>
      Latest Book:
      <input id="title-text-field" name="title">
    </p>
    <p>
      Author:
      <input id="author-text-field" name="author">
    </p>
    <p>
      Date Completed:
      <input placeholder="mm/dd/yyyy" id="completed-text-field" name="completed">
    </p>
    <p>
      <input type="radio" name="fiction" value="true">Fiction
      <input type="radio" name="fiction" value="false">Non-fiction
    </p>
    <p>
      <input type="radio" name="mystery" value="true">Mystery
      <input type="radio" name="mystery" value="false">Everything Else
    </p>
    <button id="new-book-button">Submit Book</button>
  </form>
</div>

<div class="main-container">
  <div class="left">
    <h3>Non-fiction</h3>
    <div class="nonfiction"></div>
  </div>

  <div class="middle">
    <h3>Mystery Fiction</h3>
    <div class="mystery-fiction"></div>
  </div>

  <div class="right">
    <h3>Other Fiction</h3>
    <div class="other-fiction"></div>
  </div>
</div>
