<p class="slider"><button id="get-form">I finished another book!</button></p>
<div class="form-container">
  <form id="book-form" action="/books" method="POST">
    Latest Book:
    <input id="title-text-field" name="title">
    <br>
    Author:
    <input id="author-text-field" name="author">
    <br>
    Date Completed:
    <input value="mm/dd/yyyy" id="completed-text-field" name="completed">
    <p>
      <input type="radio" id='fiction' name="genre" value="fiction">Fiction
      <input type="radio" id='nonfiction' name="genre" value="nonfiction">Non-fiction
    </p>
    <p>
      <input type="radio" name="genre" value="mystery">Mystery
      <input type="radio" name="genre" value="everything-else">Everything Else
      <br>
    </p>
    <button id="new-book-button">Submit Book</button>
  </form>
</div>

<div class="main-container">
  <div class="left">
    <h3>Non-fiction</h3>
    <div class="nonfiction"></div>
  </div>

  <div class="middle">
    <h3>Mystery Fiction</h3>
    <div class="mystery-fiction"></div>
  </div>

  <div class="right">
    <h3>Other Fiction</h3>
    <div class="other-fiction"></div>
  </div>
</div>
