<form id="book-form" action="/books" method="POST">
  Latest Book:
  <input id="book-text-field" name="book-text">
  <br>
  Author:
  <input id="author-text-field" name="author-text">
  <br>
  Date Completed:
  <input value="mm/dd/yyyy" id="date-text-field" name="date-text">
  <p>
    <span class="instructions">Check all that apply:</span><br>
    <input type="checkbox" name="mystery" value="true">Mystery
    <input type="checkbox" name="fiction" value="true">Fiction
    <input type="checkbox" name="fiction" value="false">Non-fiction
  </p>
  <button id="new-book-button">Submit Book</button>
</form>

<h3>Non-fiction</h3>
<div class="nonfiction"></div>

<h3>Mystery Fiction</h3>
<div class="mystery-fiction"></div>

<h3>Other Fiction</h3>
<div class="other-fiction"></div>
